* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: rgba(217, 226, 255, 0.281);
    padding-top: 77.34px;
}

.colorPrimary {
    background: #004733;
}

.bgColorGrey {
    background: #F3F4F6;
}

.colorGrey {
    color: #F3F4F6;
}

.box-shadow {
    box-shadow: 2px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#home-quote {
    background: url("../img/bg-quote.jpg");
}